body {
    font-family: 'Montserrat', sans-serif;
    background-color: lightgrey;
  
}

.container {
max-width: 550px;
min-width: 300px;
margin: auto;

}

.imageTim {
    border: gray solid 2px;
    border-radius: 100%;
    overflow: hidden;
    display : flex ;
    justify-content: center;
    margin-left: auto ; 
    margin-right: auto ;
    margin-top: 30px;
    width: 20%; 
    position: relative;
}

h1 {
    display: flex;
    justify-content: center;
    color: brown;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
h2 {
    display: flex;
    justify-content: center;
    font-size: 100%;
    color: gray;
}

p {
    color: rgb(125,125,125);
}

.Lien1 {
    display: flex;
    justify-content: center;
    border: solid 2px indianred;
    border-radius: 5px;
    background-color: indianred;     
    margin-left: 35%;
    width: 35%;
}

.wrapper {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    border: lightgrey solid 2px;
    text-align: center;
    margin-bottom: 15px;
    padding-block-end: 15px;
}


.Facebook {
    display: flex;
}
.Linkedin {
    display: flex;
}
.Twitter {
    display: flex;
}

a {
    display: flex;
    flex-direction: column;
    color: lightgray;
    text-decoration: none;
    justify-content: center;
}



.film {
    display: flex;
    max-width: 550px;
    min-width: 300px;
}

.mini-text {

    font-size:12px;
    font-family: montserrat;
    color: rgb(125,125,125);
    line-height: 2;
    text-align: left;
    
}
.text-conteneur {
    color: rgb(125,125,125);
}

.bannerImage{
    min-width:150px;
}

.img-responsive1{
    display: flex;
    width: 110px;
    height: 156px;
 
}

.img-responsive2{
    display: flex;
    width: 120px;
    height: 180px;
}

.img-responsive3{
    display: flex;
    width: 120px;
    height: 180px;
}


.titre{
    font-size: 20px;
    font-family: montserrat;
    color: rgb(125,125,125);
    padding: 3%;

}
 
.bannersocial{
    display: flex;
    justify-content: space-between;
    padding: 3%;
    margin-left: -140px;
}
